{% extends "program.html" %}
{% block results %}

<div class="row row1">
    
    <div class="top1 card ">
                <ul>
                    <li>
                        <span class="prediction card-text" data-program="{{ top1.program }}">
                            {{ top1.program }} <div>({{ top1.quantity }} rows)</div>
                        </span>
                    </li>
                    <li class="sub-programs">
                        <ol class="list-group list-group-numbered">
                            {% for sub_program in top1.sub_programs %}
                            <li>{{ sub_program }}</li>
                            {% endfor %}
                        </ol>
                    </li>
                </ul>
            </div>
<!--top2-->
    <div class="top2 card">
                  <ul>
                    <li>
                        <span class="prediction card-text" data-program="{{ top1.program }}">
                            {{ top2.program }} <div>({{ top2.quantity }} rows)</div>
                        </span>
                    </li>
                    <li class="sub-programs">
                        <ol class="list-group list-group-numbered">
                            {% for sub_program in top2.sub_programs %}
                            <li>{{ sub_program }}</li>
                            {% endfor %}
                        </ol>
                    </li>
                </ul>
    </div>

    <div class="top3 card">
        <ul>
            <li>
                <span class="prediction card-text" data-program="{{ top1.program }}">
                    {{ top3.program }} <div>({{ top3.quantity }} rows)</div>
                </span>
            </li>
            <li class="sub-programs">
                <ol class="list-group list-group-numbered">
                    {% for sub_program in top3.sub_programs %}
                        <li>{{ sub_program }}</li>
                    {% endfor %}
                </ol>
            </li>
        </ul>
    </div>
</div>
<!--
<script>
    // JavaScript code to handle clicks on predictions
    const predictionElements = document.querySelectorAll('.prediction');
    predictionElements.forEach(element => {
        element.addEventListener('click', () => {
            // Hide all sub-programs
            const subProgramsLists = document.querySelectorAll('.sub-programs');
            subProgramsLists.forEach(subProgramsList => {
                subProgramsList.style.display = 'none';
            });

            // Show the sub-programs for the clicked top program
            const subProgramsList = element.parentElement.nextElementSibling;
            if (subProgramsList.style.display === 'none') {
                subProgramsList.style.display = 'block'; // Show sub-programs
            } else {
                subProgramsList.style.display = 'none'; // Hide sub-programs
            }
        });
    });
</script>
-->
{% endblock %}